<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<style>
    body {
            background-color: #f4f4f4;
            font-family: 'Philosopher', sans-serif;
        }
        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #16589b;
            color: #fff;
            padding-top: 20px;
        }
        .sidebar a {
            color: #fff;
            padding: 15px;
            display: block;
            text-decoration: none;
        }
        .sidebar a:hover {
            background-color: #495057;
        }
        .content {
            margin-left: 270px; /* Push content to right */
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        /* .container-fluid {
            max-width: 1200px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 30px;
        } */
</style>
<body>

<div class="sidebar">
    <h2 class="text-center">Welcome</h2>
    <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i> Home</a>
    <a href="#" onclick="toggleMenu();"><i class="bi bi-person-circle"></i> Employee</a>
    <div id="employeeSubmenu" style="display: none;">
        <a href="{% url 'read2' %}" class="ms-3"><i class="bi bi-card-list"></i> Employee</a>
        <a href="{% url 'employeepersonal' %}?type=personal" class="ms-3"><i class="bi bi-file-person"></i> Personal Details</a>
    </div>
    <a href="{% url 'read' %}"><i class="bi bi-calendar-check"></i> Attendance</a>
    <a href="{% url 'read3' %}"><i class="bi bi-credit-card-fill"></i> Payrolls</a>
    <a href="{% url 'read4' %}"><i class="bi bi-calendar-check"></i> Leave</a>
    <a href="{% url 'read5' %}"><i class="bi bi-laptop-fill"></i> Asset</a>
    <a href="{% url 'document_list' %}"><i class="bi bi-file-earmark"></i> Document</a>
    <a href="{% url 'empresign' %}"><i class="bi bi-card-text"></i>Resignation</a>
</div>
<div class="content">
    <div class="container-fluid">
        <form method="POST" action="{% url 'update_employee' user.id %}"  enctype="multipart/form-data">
            {% csrf_token %}  
            <input type="hidden" id="user_id" value="{{ user.id }}">  <!-- Employee ID -->
        <div class="row">
            <div class="col-md-6"> 
                <h2 class="text-center mb-4">Personal Details</h2>
            <div class="mb-3">
                <label class="fathername">Father Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control"  value="{{ user.fathername }}" name="fathername" id="fathername" placeholder="Father Name" required>
                </div>
            </div>
            <div class="mb-3">
              <label for="mothername" class="form-label">Mother Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control"  value="{{ user.mothername }}" name="mothername" id="mothername" placeholder="mothername" required >
                </div>
            </div>
            <div class="mb-3">
                <label class="fathercontact">Father contact</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-phone-fill"></i></span>
                    <input type="number" class="form-control"  value="{{ user.fathercontact }}" name="fathercontact" id="fathercontact" placeholder="Father Contact" required>
                </div>
            </div>    
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                    <input type="text" name="address"  value="{{ user.address }}" class="form-control" name="address" id="address" placeholder="Enter the Address" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                    <input type="text" class="form-control"  value="{{ user.city }}" id="city" name="city" placeholder="Enter the City"required >
                </div>
            </div>
            <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                    <input type="text" class="form-control"  value="{{ user.state}}" id="state" name="state" placeholder="Enter the State"required >
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                    <input type="text" class="form-control"  value="{{ user.country }}" id="country" name="country" placeholder="Enter the Country"required >
                </div>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Marital Status</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-list"></i></span>
                    <select class="form-select" id="status" name="status" required>
                        <option value="">Select Status</option>
                        <option value="Single" {% if user.status == "Single" %}selected{% endif %}>Single</option>
                        <option value="Married" {% if user.status == "Married" %}selected{% endif %}>Married</option>
                        <option value="Divorced" {% if user.status == "Divorced" %}selected{% endif %}>Divorced</option>
                        <option value="Others" {% if user.status == "Others" %}selected{% endif %}>Others</option>
                    </select>                    
                </div>    
            </div>
            </div> 
            <div class="col-md-6">
            <h2 class="text-center mb-4">Work Information</h2> 
            <div class="mb-3">
                <label for="bankname" class="form-label">Work Department</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-suitcase-lg-fill"></i></span>
                    <input type="text" class="form-control"  value="{{ user.workdepartment }}" id="workdepartment" name="workdepartment" placeholder="Enter the Work" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="mobile" class="form-label">Experience</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope-paper"></i></span>
                    <input type="text" class="form-control" value="{{ user.experience }}" id="experience" name="experience" placeholder="enter the mobile number" required maxlength="10"required>
                </div>
            </div>
            <div class="mb-3">
                <label for="bankname" class="form-label">Work Location</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                    <input type="text" class="form-control" value="{{ user.worklocation }}"  id="worklocation" name="worklocation" placeholder="Enter the Work" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Joining Date</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-calendar-check"></i></span>
                    <input type="date" class="form-control" value="{{ user.joindate|date:'Y-m-d' }}" name="joindate" id="joindate" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="bankname" class="form-label">Shift Timing</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-clock-fill"></i></span>
                    <input type="text" class="form-control"  value="{{ user.shifttime }}" id="shifttime" name="shifttime" required>

                </div>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Employee Type</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-list"></i></span>
                    <select class="form-select" id="employeetype" name="employeetype" required>
                        <option value="">Select Employee Type</option>
                        <option value="Full-Time" {% if user.employeetype == "Full-Time" %}selected{% endif %}>Full-Time</option>
                        <option value="Part-Time" {% if user.employeetype == "Part-Time" %}selected{% endif %}>Part-Time</option>
                        <option value="Contract" {% if user.employeetype == "Contract" %}selected{% endif %}>Contract</option>
                        <option value="Others" {% if user.employeetype == "Others" %}selected{% endif %}>Others</option>
                    </select>
                    
                </div>    
            </div>
            </div>
        </div><br>    
        <div class="text-center">
            <button type="submit" id="update" class="btn btn-warning"><i class="fa fa-paper-plane"></i> Update</button>
        </div>
        </form>    
    </div>
</div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        function toggleMenu() {
            var menu = document.getElementById("employeeSubmenu");
            menu.style.display = (menu.style.display === "none" || menu.style.display === "") ? "block" : "none";
        }
    </script>
</body>
</html>